/* Pie de página */
.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Que se ajuste en pantallas pequeñas */
  align-items: center;
  justify-content: space-between; /* Espaciado entre columnas */
  background-color: #0c2340; /* Azul oscuro */
  color: white;
  padding: 20px;

  .row-footer {
    display: flex;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px; /* Evita que se amontonen en pantallas pequeñas */
    padding: 10px;
  }

  .footer-column h3 {
    color: var(--button-color); /* Dorado */
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: var(--button-color);
    font-weight: bold;
  }
  
  iframe {
    border-radius: 10px 0px;
    width: 100%;
  }
  
  .social-media {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Se apilan en móviles */
    text-align: center;

    .row-footer{
      flex-wrap: wrap;
    }
  }

  .footer-column {
    margin-bottom: 20px;
  }
}
