<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>{{ "menu.services" | translate }}</h3>
        <ul>
          @for (item of serviceList; track $index) {
          <li>{{ item }}</li>
          }
        </ul>
      </div>
      <div class="footer-section">
        <h3>{{ "menu.contact" | translate }}</h3>
        <ul>
          <li>{{ "contact.phone" | translate }}</li>
          <li>{{ "contact.email" | translate }}</li>
          <li>{{ "contact.address" | translate }}</li>
          <li>
              <a target="_blank" class="p-1" href="https://www.facebook.com/InduserviceFL/">
                  <img
                      src="../../../assets/img/facebook.svg"
                      alt="facebook"
                      width="50px"/>
              </a>
              <a target="_blank" class="p-1" href="https://www.instagram.com/induservice.fl/">
                  <img
                      src="../../../assets/img/instagram.svg"
                      alt="instagram"
                      width="50px"/>
              </a>
              <a target="_blank" class="p-1" href="https://wa.me/573102228738">
                  <img
                      src="../../../assets/img/wpp.svg"
                      alt="wpp"
                      width="50px"/>
              </a>
          </li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>{{ "footer.title" | translate }}</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15837.998114212356!2d-73.1508073!3d7.0679329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683fe259f1840d%3A0x9eba2827925c5d81!2sInduservice%20F.L!5e0!3m2!1ses-419!2sco!4v1719618008172!5m2!1ses-419!2sco"
          width="300"
          height="200"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <p>&copy; {{ year }} {{ "footer.bottom" | translate }}</p>
  </footer>
  