/* Encabezado */
.header {
  padding: 10px 15px;
  background-image: linear-gradient(
    270deg,
    var(--button-color) 13.86%,
    var(--primary) 83.33%
  );

  .logo {
    height: 80px;
    position: relative;
  }

  .navbar-nav,
  .header-nav a {
    font-size: 1.5rem;
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;

    .router-link-active {
      border-block-end: 2px solid var(--text-secondary);
    }
    :hover{
      color: var(--text-secondary);
    }
  }

  .header-nav {
    padding: 5px 10px;
  }

  .navbar-toggler {
    border: 1px solid #c9a227;
  }

  .img-logo {
    margin: 8px;
  }
}

@media (max-width: 768px) {
  .header {
    background-image: linear-gradient(
      270deg,
      var(--primary) 13.86%,
      var(--button-color) 83.33%
    );
  }
}

@media (max-width: 778px) {
  .navbar-responsive .navbar-collapse.show {
    border-radius: 10px;

    .logo {
      margin: 8px;
    }
  }
}
