/* Encabezado */
.header {
  padding: 10px 15px;

  .logo {
    height: 80px;
    position: relative;
  }

  .navbar-nav,
  .header-nav a {
    font-size: 1.5rem;
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;

    .router-link-active {
      text-decoration: underline;
      text-decoration-color: var(--button-color);
      text-decoration-thickness: 3px;
    }
  }

  .header-nav {
    padding: 10px;
  }

  .header-nav:hover {
    border: 2px dashed #c9a227;
    border-radius: 10px 0px;
  }

  .navbar-toggler {
    border: 1px solid #c9a227;
  }

  .img-logo {
    margin: 8px;
  }
}

@media (max-width: 778px) {
  .navbar-responsive .navbar-collapse.show {
    background-color: var(--text-secondary);
    border-radius: 10px;

    .logo {
      margin: 8px;
    }
  }
}

@media (min-width: 770px) {
  .header {
    background-image: url("../../../assets/img/inicio/banner.webp");
    background-repeat: no-repeat;
    background-position: top;
  }
}
