<section>
  <div class="banner-container">
    <img
      loading="lazy"
      src="assets/img/inicio/banner.webp"
      alt="banner-image"
      class="car-img-banner"
    />
    <div class="banner-content">
      <span>{{ "inicio.title" | translate }}</span>
      <a href="https://wa.me/573102228738" target="_blank" class="whatsapp-btn">
        {{ "services.button" | translate }}
      </a>
    </div>
  </div>
</section>
<!-- Marcas trabajadas -->
<section class="brands-section">
  <div class="mark-container">
    <h2 class="title">{{ "inicio.marks" | translate }}</h2>
    <div class="marks-wrapper">
      <div class="marks-track" #marksTrack>
        <div class="mark" *ngFor="let brand of brands; trackBy: trackByIndex">
          <img [src]="brand.logo" [alt]="brand.name" class="brand-logo" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services">
  <h1>{{ "inicio.services.title" | translate }}</h1>
  <div class="service-container">
    @for (service of services; track $index) {
    <div class="service-card">
      <img src="{{ service.url }}" loading="lazy" />
      <h4>{{ service.title | translate }}</h4>
    </div>
    }
  </div>
</section>

<section class="testimonials">
  <div class="reviews-container">
    <h2 class="title">{{ "inicio.testimonios" | translate }}</h2>
    <div class="reviews-slider">
      <div class="reviews-track" #reviewsTrack>
        @for (review of reviews; track $index) {
        <div class="review-card">
          <div class="review-header">
            <strong>{{ review.author }}</strong>
            <span class="rating">⭐️ {{ review.rating }}/5</span>
          </div>
          <p class="review-text">{{ review.text }}</p>
          <span class="review-date">{{ review.date }}</span>
        </div>
        }
      </div>
    </div>
  </div>
</section>
