.backgroud-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px 0px;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(
      70%
    ); /* Oscurece la imagen para mejor visibilidad del texto */
  }

  .car-img-banner {
    z-index: -1;
    width: 100%;
  }

  .banner-content {
    position: absolute;
    color: var(--primary);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 2.5rem;
    }
  }

  .whatsapp-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 20px;
    background-color: var(--button-color);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    cursor: pointer;
  }

  .whatsapp-btn:hover {
    background-color: var(--text-secondary);
    transform: scale(1.05);
    transition: 0.3s;
    color: var(--primary);
    margin: 0;
    padding: 16px 24px;
  }
}

.text {
  display: flex;
  justify-content: center;
  color: var(--primary);
  font-weight: bold;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

/*marcas*/
.brands-section {
  background-color: #f8f9fa;
  h2 {
    color: var(--primary);
    font-weight: bold;
  }

  .brand-logo {
    width: 100%;
    max-width: 120px;
    height: auto;
    transition: filter 0.3s ease-in-out;
  }

  .brand-logo:hover {
    filter: grayscale(0%);
  }
}

/*Beneficios*/
.benefits {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 100px 50px;
  background-color: #f8f8f8;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  h1 {
    color: var(--primary);
    font-weight: bold;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .benefit-item {
    width: 500px;

    img {
      width: 100%;
      border-radius: 50px 0px;
    }

    p {
      margin-top: 16px;
      font-size: 1.5rem;
      color: var(--primary);
    }
  }
}

/*Servicios*/
.services {
  text-align: center;
  padding: 100px 50px;
  width: 100%;

  h1 {
    margin-bottom: 30px;
    color: var(--button-color);
    font-weight: bold;
  }

  .service-container {
    display: grid;
    justify-content: center;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    .service-card {
      width: 100%;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      overflow: hidden;

      h4 {
        color: var(--primary);
        margin: 8px;
      }

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}

/*Testimonios*/
.testimonials {
  background: white;

  .reviews-container {
    max-width: 1000px;
    margin: auto;
    padding: 100px 50px;
    text-align: center;
    overflow: hidden;

    .title {
      margin-bottom: 30px;
      font-weight: bold;
      color: var(--primary); /* Dorado */
    }

    .reviews-slider {
      position: relative;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;

      .reviews-track {
        display: flex;
        gap: 20px;
        //animation: scroll 15s linear infinite;

        .review-card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: #1b1b1b; /* Azul oscuro */
          color: #fff;
          min-width: 300px;
          max-width: 300px;
          padding: 15px;
          border-radius: 8px;
          box-shadow: 0px 4px 10px rgba(255, 215, 0, 0.2); /* Sombra dorada */
          flex-shrink: 0;

          .review-header {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            margin-bottom: 5px;
          }

          .review-text {
            font-size: 16px;
            margin: 10px 0;
            white-space: normal;

            .review-date {
              font-size: 14px;
              color: #aaa;
            }
          }
        }
      }
    }
  }
}

/* Animación para hacer scroll automático */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 920px) {
  .banner-container .banner-content {
    span {
      font-size: 2rem;
    }
  }

  .benefits .items {
    .benefit-item {
      width: 150px !important;
      p {
        font-size: 1rem;
      }
    }
  }

  .services .service-container {
    .service-card {
      h3 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .benefits .items .benefit-item {
    width: 250px;
  }
}

@media (max-width: 1350px) {
  .banner-container {
    height: 500px;
  }
}

@media (max-width: 900px) {
  .banner-container {
    height: auto;
  }
}

@media (max-width: 750px) {
  .banner-container .banner-content {
    span {
      font-size: 1.5rem;
    }
    .whatsapp-btn {
      font-size: 1.5rem;
    }
  }

  .services .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .banner-container .banner-content {
    span {
      font-size: 1rem;
    }
    .whatsapp-btn {
      font-size: 1rem;
      padding: 16px;
    }
  }
  .services .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
