<section>
  <div class="banner-container">
    <img
      loading="lazy"
      src="assets/img/inicio/banner.webp"
      alt="banner-image"
      class="car-img-banner"
    />
    <div class="banner-content">
      <span>{{ "inicio.title" | translate }}</span>
      <a href="https://wa.me/573102228738" target="_blank" class="whatsapp-btn">
        {{ "services.button" | translate }}
      </a>
    </div>
  </div>
</section>

<section class="brands-section py-5">
  <div class="container text-center">
    <h2 class="mb-4">Marcas con las que hemos trabajado</h2>
    <div class="row justify-content-center">
      @for (brand of brands; track $index) {
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
        <img [src]="brand.logo" [alt]="brand.name" class="brand-logo" />
      </div>
      }
    </div>
  </div>
</section>

<!-- <section class="benefits">
  <h1>{{ "inicio.benefits.title" | translate }}</h1>
  <div class="items">
    <div class="benefit-item backgroud-card">
      <img
        src="assets/img/inicio/personalize-attetion.webp"
        alt="Atención Personalizada"
      />
      <p>{{ "inicio.benefits.perzonalize" | translate }}</p>
    </div>
    <div class="benefit-item backgroud-card">
      <img src="assets/img/inicio/quality.webp" alt="Calidad Garantizada" />
      <p>{{ "inicio.benefits.quality" | translate }}</p>
    </div>
    <div class="benefit-item backgroud-card">
      <img src="assets/img/inicio/faster-deliver.webp" alt="Entrega Rápida" />
      <p>{{ "inicio.benefits.fast" | translate }}</p>
    </div>
  </div>
</section> -->

<section class="services">
  <h1>{{ "inicio.services.title" | translate }}</h1>
  <div class="service-container">
    @for (service of services; track $index) {
    <div class="service-card">
      <img src="{{ service.url }}" loading="lazy" />
      <h4>{{ service.title | translate }}</h4>
    </div>
    }
  </div>
</section>

<section class="testimonials">
  <div class="reviews-container">
    <h2 class="title">{{ "inicio.testimonios" | translate }}</h2>
    <div class="reviews-slider">
      <div class="reviews-track" #reviewsTrack>
        <div *ngFor="let review of reviews" class="review-card">
          <div class="review-header">
            <strong>{{ review.author }}</strong>
            <span class="rating">⭐️ {{ review.rating }}/5</span>
          </div>
          <p class="review-text">{{ review.text }}</p>
          <span class="review-date">{{ review.date }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
