<section>
  <div class="banner-container">
    <img
      loading="lazy"
      src="assets/img/inicio/banner-candy.webp"
      alt="banner-image"
      class="car-img-banner"
    />
    <div class="banner-content">
      <span>DEVOLVEMOS TU AUTO A SU MEJOR VERSIÓN</span>
      <a href="https://wa.me/573102228738" target="_blank" class="whatsapp-btn">
        <img src="assets/img/wpp.svg" alt="wpp" width="70px" />
        Cotiza ahora
      </a>
    </div>
  </div>
  <!-- <div class="text">
    <h1>Expertos en latonería y pintura con resultados garantizados</h1>
  </div> -->
</section>

<section class="benefits">
  <h1>Nuestros Beneficios</h1>
  <div class="items">
    <div class="benefit-item">
      <img
        src="assets/img/inicio/personalize-attetion.webp"
        alt="Atención Personalizada"
      />
      <p>Asesoría profesional para cada cliente y vehículo.</p>
    </div>
    <div class="benefit-item">
      <img src="assets/img/inicio/quality.webp" alt="Calidad Garantizada" />
      <p>Usamos materiales de alta gama y técnicas avanzadas.</p>
    </div>
    <div class="benefit-item">
      <img src="assets/img/inicio/faster-deliver.webp" alt="Entrega Rápida" />
      <p>Reparaciones en tiempo récord sin sacrificar calidad.</p>
    </div>
  </div>
</section>

<section class="services">
  <h1>Nuestros Servicios</h1>
  <div class="service-container">
    <div class="service-card">
      <img src="assets/img/services/1.webp" alt="Latonería" />
      <h3>Latoneria especializada</h3>
    </div>
    <div class="service-card">
      <img src="assets/img/services/2.webp" alt="Pintura Automotriz" />
      <h3>Porcelanizado y fibra de vidrio</h3>
    </div>
    <div class="service-card">
      <img src="assets/img/services/3.webp" alt="Porcelanizado" />
      <h3>Restauración de pintura automotriz</h3>
    </div>
    <div class="service-card">
      <img src="assets/img/services/4.webp" alt="Porcelanizado" />
      <h3>Soldadura y reparacion de todo tipo de plásticos</h3>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="reviews-container">
    <h2 class="title">Opiniones de nuestros clientes</h2>
    <div class="reviews-slider">
      <div class="reviews-track" #reviewsTrack>
        <div *ngFor="let review of reviews" class="review-card">
          <div class="review-header">
            <strong>{{ review.author }}</strong>
            <span class="rating">⭐️ {{ review.rating }}/5</span>
          </div>
          <p class="review-text">{{ review.text }}</p>
          <span class="review-date">{{ review.date }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
