<div class="gallery">
  <h1>{{ "gallery.title" | translate }}</h1>
  <hr />
  <section class="grid" *ngIf="isActiveGallery">
    <div class="grid-row">
      @for (item of listaPhotos; track $index) {
      <a class="card" (click)="openGallery($index)" [id]="'card-' + $index">
        <div class="card-thumb">
          <div class="card-shadow" *ngFor="let shadow of [1, 2, 3]"></div>
          <div
            class="card-image"
            [style.background-image]="'url(' + item.etapa4 + ')'"
          ></div>
          <div class="card-title">
            <img [src]="item.title" />
          </div>
          <div class="card-explore">
            <button class="card-button">
              {{ "gallery.titleCardButton" | translate }}
            </button>
          </div>
        </div>
      </a>
      }
    </div>
  </section>

  <section *ngIf="isOpenGallery">
    <div class="collage">
      <div class="icono-close">
        <button class="btn galeria-close" (click)="closeAll()">
          <img src="assets/img/gallery/close.svg" alt="close" />
        </button>
      </div>
      <div class="container images mb-4">
        <div>
          <img class="one" [src]="photos?.etapa1" alt="one" />
        </div>
        <div>
          <img class="two" [src]="photos?.etapa2" alt="two" />
        </div>
        <div>
          <img class="three" [src]="photos?.etapa3" alt="three" />
        </div>
        <div class="four">
          <img [src]="photos?.etapa4" alt="four" />
        </div>
      </div>
    </div>
  </section>
</div>
