.section-services {
    background-color: var(--secundary-gold);
    text-align: center;
    padding: 10px;
  }
  
  h2 {
    font-weight: 800;
    color: var(--footer-color);
  }
  
  .servicios {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding: 15px;
  }
  
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid var(--footer-color);
    text-align: center;
  }
  
  .circle img {
    width: 60px;
  }
  
  .card {
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 18px -8px rgba(255, 255, 255, 0.75);
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-weight: 700;
  }
  
  .card-subtitle {
    text-align: justify;
  }
  
  /**REPONSIVE*/
  
  @media screen and (max-width: 1024px) {
    .servicios {
      grid-template-columns: auto auto auto auto;
    }
  }

  @media screen and (max-width: 700px) {
    .servicios {
      grid-template-columns: auto auto auto;
    }
  }

  @media screen and (max-width: 500px) {
    .servicios {
      grid-template-columns: auto auto;
    }
  }

  @media screen and (max-width: 400px) {
    .servicios {
      grid-template-columns: auto;
    }
  }
  