<section class="section-services">
    <h2>{{'services.title' | translate}}</h2>
    <div class="servicios">
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-pintura.png"
          alt="latoneria"
        />
      </div>
      <div class="card-body">
        <p class="card-title">
          {{ "services.latoneria.title" | translate | uppercase }}
        </p>
        <p class="card-subtitle">{{ "services.latoneria.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-cabina.png"
          alt="cabina"
        />
      </div>
      <div class="card-body">
        <p class="card-title">{{ "services.cabina.title" | translate | uppercase }}</p>
        <p class="card-subtitle">{{ "services.cabina.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-restauracion.png"
          alt="restauracion"
        />
      </div>
      <div class="card-body">
        <p class="card-title">{{ "services.repair.title" | translate | uppercase }}</p>
        <p class="card-subtitle">{{ "services.repair.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-pintura-automotriz.png"
          alt="pintura"
        />
      </div>
      <div class="card-body">
        <p class="card-title">{{ "services.paint.title" | translate | uppercase }}</p>
        <p class="card-subtitle">{{ "services.paint.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-rines.png"
          alt="rines"
        />
      </div>
      <div class="card-body">
        <p class="card-title">{{ "services.wheel.title" | translate | uppercase }}</p>
        <p class="card-subtitle">{{ "services.wheel.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-porcelanizado.png"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="card-title">
          {{ "services.porcenalizado.title" | translate | uppercase }}
        </p>
        <p class="card-subtitle">{{ "services.porcenalizado.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-embellecimiento.png"
          alt="porcelanizado"
        />
      </div>
      <div class="card-body">
        <p class="card-title">
          {{ "services.embellecimiento.title" | translate | uppercase }}
        </p>
        <p class="card-subtitle">{{ "services.embellecimiento.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-fibra-vidrio.png"
          alt="fibra-vidrio"
        />
      </div>
      <div class="card-body">
        <p class="card-title">
          {{ "services.fibraVidrio.title" | translate | uppercase }}
        </p>
        <p class="card-subtitle">{{ "services.fibraVidrio.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img
          src="assets/img/gallery/servicios/ic-reparacion-plasticos.png"
          alt=""
        />
      </div>
      <div class="card-body">
        <p class="card-title">
          {{ "services.plastico.title" | translate | uppercase }}
        </p>
        <p class="card-subtitle">{{ "services.plastico.subtitle" | translate }}</p>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <img src="assets/img/gallery/servicios/ic-welder.png" alt="" />
      </div>
      <div class="card-body">
        <p class="card-title">{{ "services.welder.title" | translate | uppercase }}</p>
        <p class="card-subtitle">{{ "services.welder.subtitle" | translate }}</p>
      </div>
    </div>
  </div>
  </section>
  