<section class="container text-center my-5">
  <h2 class="fw-bold animate__animated animate__fadeInDown">{{ "services.title" | translate }}</h2>
  <p class="text-muted m-0 animate__animated animate__fadeInDown">
    {{ "services.subTitle" | translate }}
  </p>

  <div class="servicios">
    @for (service of services; track $index) {
    <div class="card shadow p-3 animate__animated animate__fadeInDown">
      <div class="circle">
        <img
          src="{{ service.url }}"
          alt="{{ service.alt }}"
          class="card-img-top"
        />
      </div>
      <div class="card-body">
        <p class="card-title">
          {{ service.title | translate | uppercase }}
        </p>
        <p class="card-text">{{ service.text | translate }}</p>
      </div>
    </div>
    }
  </div>
</section>
