<div class="container mb-4" #nosotros>
    <section class="mt-4 mb-4">
      <div class="somos">
        <div>
          <h2>{{ "us.whoAreWe.title" | translate }}</h2>
          <p class="mt-4">
            {{ "us.whoAreWe.text" | translate }}
          </p>
        </div>
        <div class="us">
          <img
          class="mazda-broken"
          src="../../../assets/img/gallery/photos/polichado.jpg"
          alt="mazda-broken"
          />
        </div>
      </div>
    </section>
    <hr>
    <section class="mb-4">
      <div class="history">
        <div>
          <img
            class="puerta"
            src="../../../assets/img/gallery/photos/puerta.jpg"
            alt="puerta"
          />
        </div>
        <div>
          <h2>{{ "us.ourHistory.title" | translate }}</h2>
          <p class="mt-4">
            {{ "us.ourHistory.text" | translate }}
          </p>
        </div>
      </div>
    </section>
    <hr>
    <section class="mb-4">
      <div class="somos">
        <div>
          <h2>{{ "us.ourValuable.title" | translate }}</h2>
          <ul>
            <li class="mt-4">
              <strong>
                <em>
                  {{ "us.ourValuable.responsability.title" | translate }}
                </em>
              </strong>
              {{ "us.ourValuable.responsability.text" | translate }}
            </li>
            <li>
              <strong>
                <em>
                  {{ "us.ourValuable.quality.title" | translate }}
                </em>
              </strong>
              {{ "us.ourValuable.quality.text" | translate }}
            </li>
            <li>
              <strong>
                <em>
                  {{ "us.ourValuable.commitment.title" | translate }}
                </em>
              </strong>
              {{ "us.ourValuable.commitment.text" | translate }}
            </li>
          </ul>
        </div>
        <div class="valores-img">
          <img
          src="../../../assets/img/gallery/photos/compromiso.jpg"
          alt="commitment"
          />
        </div>
      </div>
    </section>
    <hr>
    <section class="mb-4">
      <div class="cotizar">
        <div class="d-flex align-items-center">
          <img class="iconos" src="../../../assets/img/gallery/ic-dinero.svg" alt="dinero" />
          <p class="m-0">
            {{ "us.price.money" | translate }}
          </p>
        </div>
        <div class="d-flex align-items-center">
          <img class="iconos" src="../../../assets/img/gallery/ic-garranty.svg" alt="garantia" />
          <p class="m-0">
            {{ "us.price.warranty" | translate }}
          </p>
        </div>
        <a target="_blank" class="btn btn-warning" href="https://wa.me/573102228738">
          <h1>
            {{ "us.price.cotization" | translate | uppercase}}
          </h1>
          <img src="../../../assets/img/wpp.svg" alt="wpp">
        </a>
      </div>
    </section>
  </div>
  