section {
  padding: 20px;
  text-align: center;

  .container{
    background-color: white;
    border-radius: 10px;
    padding: 24px;

    .card-body{
      img {
        margin: 16px;
        width: 50%;
        border-radius: 20px 0px;
      }

      p {
        font-size: 1.5rem;
      }
    }

    .btn-primary{
      font-size: 1.5rem;
      background-color: var(--button-color);
      border: 1px solid var(--button-color);
      font-weight: bold;
    }

    .btn-primary:hover {
      background-color: var(--text-secondary);
      border: 1px solid var(--text-secondary);
      transform: scale(1.05);
      color: var(--primary);
    }
  }

  h1,
  h5 {
    color: var(--primary);
    font-weight: 700;
  }

  .card-text, p{
    font-size: 18px;
  }
}

@media (max-width: 1060px) {
  .banner-contacto {
    height: 200px;
  }
}

@media (max-width: 770px) {
  .banner-contacto {
    height: 50px;
  }
}

@media (max-width: 500px) {
  .card-body img{
    width: 250px;
  }
}
